@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply max-w-5xl mx-auto bg-gray-50 font-salel;
  }
  html {
    direction: rtl;
    @apply border-r-2 border-l-2 bg-gray-200;
  }
}

@font-face {
  font-family: "SAHEL";
  src: url("../public/fonts/Sahel-VF.woff2");
}
